body{
    background-color: rgb(252, 221, 240);
}
.main{
    margin: auto;
    margin-top: 80px;
    width: 90%;
    border-radius: 35px;
    border: solid rgb(255, 255, 255) 5px;
    background-color: rgb(255, 255, 255);
}
.navi >a{
    float: right;
    padding: 15px;
    margin-right: 35px;
    margin-top: 70px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navi >a:hover{
    background-color: rgb(251, 234, 246);
    border-radius: 50px;
    transition: 0.5s;
}
#profpic-popup:hover{
    padding: 20px;
    background: none;
    border: solid rgb(238, 141, 212) 5px;
    transition: 800ms;
    
}
#logo{
    float: left;
    margin-top: 62px;
    margin-left: 80px ;
    font-size: 30px;

}
#prof{
    margin-top: -10px;
    height: 40px;
    width: 40px;
}
#kick{
    margin-left: 100px;
    margin-top: 220px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(27, 27, 27);
}
#for{
    width: 220px;
    margin-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(117, 117, 117);
    font-size: 18px;
}
#bck{
    position: absolute;
    margin-top: -710px;
    margin-left: 547px;
    padding: 190px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 241, 252);
    color: rgb(255, 233, 251);
    
}
#sco{
    position: absolute;
    margin-left: 540px;
    margin-top: -250px;
    height: 400px;
    width: 430px;
    z-index: 1;
    

}
#leftarr, #rightarr{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 20px;
}
#leftarr{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 235, 250);
    padding: 4px;
    margin-left: 1050px;
    margin-top: -40px;
}
#rightarr{
    margin-left: 1050px;
    background-color: rgb(255, 235, 250);
    border-radius: 50%;
    padding: 4px;
}
#leftarr:hover{
    background-color: rgb(255, 204, 240);
}
#rightarr:hover{
    background-color: rgb(255, 204, 240);
}
#ord{
    position: absolute;
    margin-left: 130px;
    margin-top: -20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: rgb(27, 27, 27);
    text-decoration: none;
    background-color: rgb(255, 209, 237);
    border: none;
    padding: 20px;
    border-radius: 60%;
    width: 30px;
}
#ord:hover{
    background-color: rgb(255, 209, 237);
    width: 100px;
    border-radius: 50px; 
    transition: 600ms;  
}
#cvarr{
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 310px;
    margin-top: -58px;
}

.spons{
    margin-left: 260px;
    margin-top: 240px;
}

#bon, #vol, #huf, #ba{
    width: 50px;
    height: 25px;
    padding-left: 70px;
}
.inst{
    display: flex;
    margin-right: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.sem, .seg, .low{
    padding-left: 120px;
    text-align: center;
}
#fir, #sec, #thir{
    color: rgb(77, 77, 77);
    text-align: center;
}
